pre {
    font-family: inherit;
    white-space: pre;
}

.credit-card {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    margin-bottom: 20px;
}

.credit-card ul {
    list-style: none;
    line-height: 5px;
    width: 200px;
}

.card-type {
    text-align: right;
}
.card-number {
    font-size: 1.5rem;
    }

