.box_color {
    border: 1px solid black;
    margin-bottom: 10px;
}

.color {
    border: 0.5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
