.driver-card {
  background-color: darkslateblue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  color: white;
}

.circular {
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    aspect-ratio: 1/1;
   display:flex;
   justify-content: center;
   align-items: center;
}

.circular--img {
height: 100px;
}


