.driver-card {
  background-color: darkslateblue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  color: white;
}

.circular {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
}

.circular--img {
    max-width: 150px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}


